@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F6FEFF;
    font-family: 'Roboto', sans-serif;
    color: #4C4C4C;
    margin: auto;
    padding: auto;
}

a { 
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    outline: 6px solid rgba(255, 255, 255, 0.1);
    text-decoration-color: #4865B0;
}

b {
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

h3 {
    font-weight: 500;
}

h4 {
    color: #4865B0;
    font-weight: 400;
    font-size: .8rem;
}

.header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    padding: 2.5em 4em;
}

.header .logo {
    max-width: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-bar a {
    color: #435EA5;
    margin: auto 0;
    padding: 0 1.2em;

    font-size: 18;
    font-weight: bold;
    text-align: center;
}

/* content */
.container-1-col {
    padding: 0 calc(15vw);
    display: flex;
    flex-direction: column;
}

/*hero section*/
.hero {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    height: calc(100vh);
}

.hero h1 {
    font-weight: 300;
    max-width: 36ch;
}

.hero h2 {
    font-size: 1.3rem;
    margin-top: 3em;
}

.hello {/*special font for the hello statement in index*/
	font-size: 3.375rem;
	font-weight: 300;
	color: #435EA5;
	font-family: 'Roboto Slab', serif;
	letter-spacing: -0.005em;
}

.pointer-down { 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.pointer-down h3 {
    text-align: center;
}

.pointer-down img {
    align-self: center;
    margin-bottom: 13px;
}

/*generic container section*/
.container {
    margin: 1em 6em 0 6em;
}

/*a single project entry*/
.project-entry {
    margin-bottom: 2em;
    position: relative;
}

.project-entry a {
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.project-image {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.project-image img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 1s;
    object-fit: contain;
}

.projects h1 {
    font-weight: 400;
    letter-spacing: -0.005em;
}

.project-text {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .5s;

    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-text:hover {
    opacity: 100%;
    transition: opacity .5s;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

